@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

$font-oswald = 'Oswald', sans-serif;
$font-arial = 'Arial', sans-serif;

$col-yellow = #ffd500
$col-white = #ffffff
$col-black = #000000
$col-darkblack = #222222
$col-middlegray = #454545
$col-bordergray = #797876
$col-lightgray = #c3c3c3
$col-placehold = #a7a7a4
$col-textgray = #a5a4a4
$col-btntext = #2c2c2b
$col-contentgrad = #d1d1cf
$col-grayinput = #7f7c7c